<!DOCTYPE html>
<html>
<haed>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: black;
        }

        * {
            box-sizing: border-box;
        }
    </style>

</haed>

<body>
    <h5 align="center" >This is mirror</h5>


</body>
<script>
    setTimeout( function opening() { window.location.replace("/cc") }, 1000);

</script>

</html>