<!DOCTYPE html>
<html>

<head>
    <title>Thanks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=K2D:wght@300&family=Roboto+Mono:wght@600&family=Mitr:wght@600&family=Pattaya&display=swap"
        rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <style>
        canvas {
            background-color:black;
        }
    </style>
</head>

<body class="body2">
    <h1 class="h1pre">PREVIEW</h1>
    <p class="Ppre">Check On Mirror</p>
    <div class="boxcen">
        <button class="butt2" onclick="">
            <p id="spanEl" class="fontbutt2">PRINT</p>
        </button><br><br>
        <button class="butt3" onclick="home()">
            <p class="fontbutt3">HOME</p>
        </button>
    </div>


</body>
<script>
   function home() {
        window.open('/home', "_self");
    }

    const spanEl = document.querySelector('#spanEl');
    var interval = setInterval(function () {
        spanEl.style.visibility = spanEl.style.visibility === "hidden" ? 'visible' : 'hidden';
    }, 250);
</script>

</html>