<!DOCTYPE html>
<html>

<head>
    <title>Scan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=K2D:wght@300&family=Roboto+Mono:wght@600&family=Mitr:wght@600&family=Pattaya&display=swap"
        rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>

<body class="body1">
    <div class="boxcen">
        <h2 class=""><img src="https://screen-miracle-mirror.herokuapp.com/images/qr.png"></h2>
        <h1 class="animate__animated animate__bounce animate__infinite	infinite scan">Scan Here</h1>
        <h1 class="animate__animated animate__flip animate__delay-2s fortakephoto">For take a photo</h1>
    </div>
    <script>
        setTimeout(function opening(){window.location.replace("/users/")},1500);
    </script>
</body>
</html>