<!DOCTYPE html>
<html>

<head>
    <title>Thanks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=K2D:wght@300&family=Roboto+Mono:wght@600&family=Mitr:wght@600&family=Pattaya&display=swap"
        rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <style>
        canvas {
            background-color: #e4fde1;
        }
    </style>
</head>

<body class="body1">
    <div class="boxcen">
        <h2 class="animate__animated animate__bounce animate__infinite	infinite thank ">Thanks for Using</h2>
        <h1 class="magical">Miracle</h1>
        <h1 class="animate__animated animate__flip animate__delay-2s infinite mirror">Mirror</h1>
        <!--<canvas id="mycanvas" width="400" height="300"></canvas>-->

    </div>


</body>
<script>
    var canvas = document.getElementById("mycanvas");
   

    setTimeout(function opening(){window.location.replace("/users")},3000);
    //setTimeout(function opening(){window.location.replace("/ads")},5000);

</script>

</html>