<!DOCTYPE html>
<html>
    <head>
        <title>Up PNG</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=K2D:wght@300&family=Mitr:wght@600&family=Pattaya&display=swap"
            rel="stylesheet">
        <link rel='stylesheet' href='/stylesheets/style.css' />
    
    </head>
<body>
    <p>Welcome to Upload PNG สติ้กเก้ออออออออออออออออออออออออออออ </p>
    <form action="/fileuploadpng" method="post" enctype="multipart/form-data">
        <input type="file" name="filetoupload" /><br>
        <select name="types">
            <option value="heart">Heart</option>
            <option value="flower">Flower</option>
            <option value="emoji">Emoji</option>
            <option value="party">Party</option>
            <option value="quote">Quote</option>
            <option value="timeday">Time</option>
            <option value="animal">Animal</option>
            <option value="food">Food</option>
            <option value="head">Head</option>
            <option value="sweet">Sweet</option>
            <option value="none">none</option>
        </select>
        <br><br>
        <input type="submit" />
    </form>
    <a href="https://test-so-complicated.herokuapp.com/" >HOME</a>  
</body>

</html>