<!DOCTYPE html>
<html>
    <head>
        <title>Up Frame</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=K2D:wght@300&family=Mitr:wght@600&family=Pattaya&display=swap"
            rel="stylesheet">
        <link rel='stylesheet' href='/stylesheets/style.css' />
    
    </head>
<body>
    <p>Welcome to Upload กรอบรูปป </p>
    <form action="/fileuploadframe" method="post" enctype="multipart/form-data">
        <input type="file" name="filetoupload" /><br>
        <select name="types">
            <option value="colorful">Colorful</option>
            <option value="emoji">Emoji</option>
            <option value="christmas">X-Mas</option>
            <option value="birth">B-Day</option>
        </select>
        <br><br>
        <input type="submit" />
    </form>
    <a href="https://test-so-complicated.herokuapp.com/">HOME</a>
</body>
<script>
</script>

</html>